---
import type CardProps from '../../interfaces/CardProps'
import Tag from '../common/Tag.astro';
const {title, description, image, author, coauthors, pubDate, url, tags} = Astro.props;
const finalAuthors = `${author.name} ${ coauthors ? "+" + (coauthors.length ) + " Other" + (coauthors.length > 1 ? "s" : "") : "" }`
---

<a class="col-span-1 flex flex-col gap-y-6 text-matty-800 dark:text-matty-100" 
    href={url}
>
    <img src={image} alt={title} class="object-cover h-80 lpt-lg:h-[24rem] rounded-2xl hover:rounded-[3rem] transition-all"/>
    <div class="flex flex-col gap-y-2">
        <h1 class="font-fraunces text-3xl font-medium text-matty-900 dark:text-matty-50 py-2 underline underline-offset-2 hover:decoration-2 decoration-1 decoration-blue-500"> {title} </h1>
        <div class="font-medium text-matty-900 dark:text-matty-50"> {finalAuthors} </div>
        <div class="text-matty-700 dark:text-matty-200 font-readable"> {pubDate} </div>
          <div class="flex gap-4 flex-wrap">
            {tags.map( tag => (
              <Tag>{tag}</Tag>
            ))}
          </div>
    </div>
</a>
