---
import Link from '../components/common/Link.astro';
import BaseLayout from '../layouts/BaseLayout.astro'

let experiences = [
    {
        position: "Intern", 
        company: {
            name: "GEVernova", 
            link: "https://gevernova.com",
            color: {
                text: "white",
                bg: "#005e60",
            } 
        },
        year: "2023-Present",
        work: "Machine Learning"
    },
    {
        position: "Intern", 
        company: {
            name: "ContinuumInnovations", 
            link: "https://continuuminnovations.com",
            color: {
                text: "white",
                bg: "#cb366c",
            } 
        },
        year: "2021-2022",
        work: "Cloud Architect"
    },
    {
        position: "Student", 
        company: {
            name: "UoHyd", 
            link: "https://uohyd.ac.in",
            color: {
                text: "white",
                bg: "#c9252c",
            } 
        },
        year: "2019-2024",
        work: "Computer Science",
    },
]
---

<BaseLayout>
    <main class="prose text-custom-bg max-w-6xl pt-32 min-h-[80vh] font-sans px-4 mbl-lg:px-10 tbl:px-10 lpt-lg:px-20 tbl:mt-0">
        <p class="text-2xl">
            I’m a Intern@<Link link="https://gevernova.com" isExternal={true} color="bg-[#005e60]">GEVernova</Link>
            working on designing and developing machine learning solutions.
        </p>
        <p class="text-inherit text-2xl">
            I am a generalist exploring multiple fields of computer science and I specalize in various techs from web development, cloud computing, devops & machine learning.
        </p>

        <hr>

        <h2 class="text-inherit text-3xl">
            Experiences & Education
        </h2>
        <div class="text-inherit flex flex-col gap-y-5">
        {experiences.map(({position, company, year, work}) => (
            <div class="text-inherit text-2xl break-words">
                {position}@<Link isExternal={true} color={company.color.bg} link={company.link}>{company.name}</Link>
            </div>
            <div class="flex gap-4">
                <span class="text-custom-bg/60">{year}</span>
                <span>{work}</span>
            </div>
            
        ))}
        </div>
        <!-- <p class="text-2xl">
            Intern@<a class="hover:bg-[#005e60] hover:text-white transition-all" href="https://gevernova.com">GE Vernova</a>
        </p>
        <div class="flex gap-4">
            <span class="text-[#17191C]/60">2023-Present</span>
            <span>Machine Learning</span>
        </div> -->
        
        <hr>

        <p class="text-2xl">
            I am also AWS Certified Solutions Architect (SAA-CO2) and Redhat Certified 
            Kubernetes and OpenShift Specalist
            (<Link link="https://www.credly.com/badges/e654870d-b9e5-4a5d-8506-8b6d6001a64e/public_url" isExternal={true} color="bg-[#ef0000]">EX180</Link>)
        </p>
    </main>
</BaseLayout>