---
import MainHead from '../components/common/MainHead.astro';
import Nav from '../components/common/Nav.astro';
import Card from '../components/projects/Card.astro'
import Nothing from '../components/icons/Nothing.astro'

let projects = (await Astro.glob('./project/**/*.{md,mdx}'))
              .filter(project => !project.frontmatter.draft)
              .sort((a,b) => {
                let c = new Date(a.frontmatter.date);
                let d = new Date(b.frontmatter.date);
                return c<d ? 1 : -1;
              });

// console.log(projects[0].frontmatter)
---

<html lang="en" class="scroll-smooth scroll-pt-24">
<head>
  <MainHead title="Meher Chaitanya - Projects" description="View my (Meher Chaitanya's) projects" />
</head>
<body class="dark:bg-matty-900 selection:bg-blue-500 dark:selection:bg-blue-400 dark:selection:text-matty-900 selection:text-blue-50 text-xl text-matty-800 overflow-x-hidden">
  <div class="z-[100] fixed w-screen ">
    <Nav active="/projects"/>
  </div>
  <div class="px-2 tbl:px-6 lpt:px-12 pt-32 font-sans text-base text-matty-800 dark:text-matty-100">
    <h1 class="text-5xl my-4 text-matty-900 dark:text-matty-50 font-medium">Projects</h1>
    <div>A window to view my work and effort</div>
    <div class="grid lpt:grid-cols-2 lpt-lg:grid-cols-3 py-12 gap-x-8 gap-y-12">
        {projects.length > 0 ? projects.map(({frontmatter, url}) => (
            <Card 
                title={frontmatter.title} 
                description={frontmatter.description} 
                image={frontmatter.image} 
                date={frontmatter.date} 
                author={frontmatter.author} 
                coauthors={frontmatter.coauthors}
                tags={frontmatter.tags}
                url={url}
            />
        )) : 
        (<div class="flex flex-col items-center">
            <Nothing />
            <div>Projects are being drafted... Will be uploaded soon.</div>
        </div>)}
    </div>
  </div>
</body>
</html>
