---
import MainHead from '../components/common/MainHead.astro';
import Nav from '../components/common/Nav.astro';
import Card from '../components/projects/Card.astro'
import Nothing from '../components/icons/Nothing.astro'
import MainBody from '../layouts/main.astro'

let projects = (await Astro.glob('./project/**/*.{md,mdx}'))
              .filter(project => !project.frontmatter.draft)
              .sort((a,b) => {
                let c = new Date(a.frontmatter.pubDate);
                let d = new Date(b.frontmatter.pubDate);
                return c<d ? 1 : -1;
              });

// console.log(projects[0].frontmatter)

let featured = await projects.filter((project) => (project.frontmatter.featured == true))
---

<MainBody 
  title="Meher Chaitanya - Projects" 
  description="View my (Meher Chaitanya's) projects" 
  imageUrl="/assets/og-seo-projects.jpg"
>
  <div class="z-[100] fixed w-screen ">
    <Nav active="projects"/>
  </div>
  <div class="px-2 tbl:px-6 lpt:px-12 pt-32 font-roboto-flex text-base text-matty-800 dark:text-matty-100">
    <h3 class="text-center text-3xl my-4  text-matty-900 dark:text-matty-50 font-medium font-fraunces">Every great accomplishment begins with a project</h3>
    <!-- <div>A window to view my work and effort</div> -->
    <div class="grid grid-cols-11 max-w-[72rem] mx-auto md:gap-x-12 lpt-lg:gap-x-24">
      <div class="md:col-span-7 col-span-12 grid lpt:grid-cols-1 lpt-lg:grid-cols-1 py-12 gap-x-8 gap-y-12">
          {projects.length > 0 ? projects.map(({frontmatter, url}) => (
              <Card 
                  title={frontmatter.title} 
                  description={frontmatter.description} 
                  image={frontmatter.image} 
                  pubDate={frontmatter.pubDate} 
                  author={frontmatter.author} 
                  coauthors={frontmatter.coauthors}
                  tags={frontmatter.tags}
                  url={url}
              />
          )) : 
          (<div class="flex flex-col items-center">
              <Nothing />
              <div>Projects are being drafted... Will be uploaded soon.</div>
          </div>)}
      </div>
      <div class="flex flex-col md:col-span-4 col-span-12 my-12">
        <h2 class="font-fraunces text-2xl mb-4">Featured Projects</h2>
        <div class="flex flex-col gap-y-4 text-blue-600 hover:text-blue-700 dark:text-blue-200 dark:hover:text-blue-100">
          {featured.map(({frontmatter, url}) => (
            <a href={url} class="hover:underline underline-offset-2 decoration-1 decoration-blue-500">{frontmatter.title}</a>
          ))}
        </div>
      </div>
    </div>
  </div>
</MainBody>