---
import type CardProps from '../../interfaces/CardProps'
import Tag from '../common/Tag.astro';
const {title, description, image, author, coauthors, pubDate, url, tags} = Astro.props;
const finalAuthors = `${author.name} ${ coauthors ? "+" + (coauthors.length ) + " Other" + (coauthors.length > 1 ? "s" : "") : "" }`
const printDate = (date) => {
  let dateOptions:Intl.DateTimeFormatOptions = { dateStyle: 'medium' };
  return (new Date(date).toLocaleString('en-IN', dateOptions)).replaceAll("-", ".");
  
}
---

<a href={url} target="_blank" class="transition-all flex flex-col bg-light-container dark:bg-dark-primary-20 w-full">
  <div>
    <img src={image} alt={title} class="w-full object-cover">
  </div>
  <div class="flex flex-col gap-y-4 p-9">
    <h1 class="text-light-container-headings dark:text-dark-container-headings font-semibold text-4xl">
      {title}
    </h1>
    <div class="flex flex-col gap-y-1 text-l-ctr-txt-l dark:text-d-ctr-txt-l">
      <div class="font-sans font-medium text-matty-900 dark:text-matty-50"> {finalAuthors} </div>
      <div class="text-base">{printDate(pubDate)}</div>
    </div>
    <div class="flex gap-4 flex-wrap">
      {tags.map( tag => (
        <Tag>{tag}</Tag>
      ))}
    </div>
  </div>
</a>