---
import MainHead from '../components/common/MainHead.astro';
// import Footer from '../components/common/Footer.astro';
import Nav from '../components/common/Nav.astro';
import readingTime from 'reading-time';
import Draft from '../components/common/Draft.astro'
import Tag from '../components/common/Tag.astro';

const { frontmatter, rawContent } = Astro.props;

const stats = readingTime(rawContent())

// console.log(stats)
---

<html lang="en" class="scroll-smooth scroll-pt-24">
  <head>
    <MainHead title={frontmatter.title} description={frontmatter.description} imageUrl={frontmatter.image}/>
  </head>
  <body class="bg-matty-50 dark:bg-matty-900 selection:bg-blue-500/90 dark:selection:bg-blue-400/90 dark:selection:text-matty-900 selection:text-blue-50 overflow-x-hidden font-roboto-flex">
    <div class="z-[100] fixed w-screen print:hidden"> 
      <Nav active="projects"/> 
    </div>
    <div class="relative flex flex-col min-h-screen">
      <img src={frontmatter.image} alt={frontmatter.title} class="object-cover pt-16 tbl:h-[60vh] min-w-full" />
      <!-- <div class="flex -translate-y-6 py-10 w-full backdrop-blur-3xl flex-none bg-gradient-to-t from-matty-50 dark:from-matty-900">
      </div> -->
      <div class="mt-16 mx-auto prose prose-matty dark:prose-invert prose-custom mbl-md:pt-2 tbl:pt-0 flex-1 px-2 mbl-md:px-2 tbl:px-8 lpt:px-16 max-w-none mbl-md:w-full tbl:w-full lpt:w-5/6 lpt-lg:w-4/6 tracking-wide prose-a:truncate">
        <h1 class=""> {frontmatter.title} </h1>
        <div class="flex gap-4 flex-wrap">
          {frontmatter.tags.map( tag => (
            <Tag>{tag}</Tag>
          ))}
        </div>
        <hr />
        <h3 class="print:hidden">Read Time</h3>
        <p class="print:hidden">~ {stats.text}</p>
        <h3>Author{frontmatter.coauthors && 's' }</h3>
        <div class="tbl:text-base lpt:text-lg lpt-lg:text-xl font-medium grid grid-cols-1 tbl:grid-cols-2 lpt-lg:grid-cols-3 gap-4 justify-items-start">
          <div class="flex items-center gap-1">
            <img class="not-prose border-0 m-0 rounded-full w-4 h-4 tbl:w-6 tbl:h-6 lpt:w-10 lpt:h-10" src={frontmatter.author.profile} alt="profile"/>
            <a href={frontmatter.author.link} class="dark:text-matty-50" target="_blank"> {frontmatter.author.name} </a>
          </div>
          {frontmatter.coauthors && frontmatter.coauthors.map(({name, link, profile}) => (
            <div class="flex items-center gap-1">
              <img class="not-prose border-0 m-0 rounded-full w-4 h-4 tbl:w-6 tbl:h-6 lpt:w-10 lpt:h-10" src={profile} alt="profile"/>
              <a href={link} class="dark:text-matty-50" target="_blank">{name}</a>
            </div>
          ))}

        </div>
        <hr />
        <div class="flex flex-col dark:text-matty-200">
          <slot />
        </div>
      </div>
    </div>
    <Draft draft={frontmatter.predraft} />
  </body>
</html>
