---
import MainBody from './main.astro';
// import Footer from '../components/common/Footer.astro';
import Nav from '../components/common/Nav.astro';
import readingTime from 'reading-time';
import Draft from '../components/common/Draft.astro'
import Tag from '../components/common/Tag.astro';

const { frontmatter, rawContent } = Astro.props;

const stats = readingTime(rawContent())

// console.log(stats)
---

<MainBody title={frontmatter.title} description={frontmatter.description} imageUrl={frontmatter.image}>
  <div class="relative flex flex-col min-h-screen">
    <img src={frontmatter.image} alt={frontmatter.title} class="object-cover pt-16 tbl:h-[60vh] min-w-full" />
    <!-- <div class="flex -translate-y-6 py-10 w-full backdrop-blur-3xl flex-none bg-gradient-to-t from-matty-50 dark:from-matty-900">
    </div> -->
    <div class="mt-16 mx-auto prose prose-matty dark:prose-invert prose-custom mbl-md:pt-2 tbl:pt-0 flex-1 px-2 mbl-md:px-2 tbl:px-8 lpt:px-16 max-w-none mbl-md:w-full tbl:w-full lpt:w-5/6 lpt-lg:w-3/5 tracking-wide prose-a:break-all">
      <h1 class=""> {frontmatter.title} </h1>
      <div class="flex flex-col gap-y-4">
        <div class="flex items-center gap-4">
          <img class="not-prose border-0 m-0 rounded-full w-14 h-14" src={frontmatter.author.profile} alt="profile"/>
          <div class="flex flex-col">
            <a class="text-xl" href={frontmatter.author.link} target="_blank"> {frontmatter.author.name} </a>
            <div class="print:hidden">{stats.text}</div>
          </div>
        </div>
        <div class="flex flex-wrap gap-4">
          {frontmatter.coauthors && frontmatter.coauthors.map(({name, link, profile}) => (
            <div class="flex items-center gap-x-4">
              <img class="not-prose border-0 m-0 rounded-full w-4 h-4 tbl:w-6 tbl:h-6 lpt:w-10 lpt:h-10" src={profile} alt="profile"/>
              <a href={link} class="dark:text-matty-50" target="_blank">{name}</a>
            </div>
          ))}
        </div>
        <div class="flex gap-4 flex-wrap">
          {frontmatter.tags.map( tag => (
            <Tag>{tag}</Tag>
          ))}
        </div>
      </div>
      <div class="flex flex-col dark:text-matty-200">
        <slot />
      </div>
    </div>
  </div>
  <Draft draft={frontmatter.predraft} />
</MainBody>